In [79]:
!pip3 install pandas

Requirement already satisfied: pandas in c:\users\sajiah naqib\anaconda3\envs\adm\lib\site-packages (1.3.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\sajiah naqib\anaconda3\envs\adm\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sajiah naqib\anaconda3\envs\adm\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sajiah naqib\anaconda3\envs\adm\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sajiah naqib\anaconda3\envs\adm\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [80]:
!python3 -m pip install pandas

Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.

In [81]:
# Generic inputs for most ML tasks
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn import tree
import graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

pd.options.display.float_format = '{:,.2f}'.format

# setup interactive notebook mode
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import display, HTML

In [82]:
dataset = pd.read_csv('../data_source/train_data/final_training_data.csv', parse_dates = ['Date (MM/DD/YYYY)'])
dataset.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),...,Average Temperature(Celcius) /Day,Minimum Temperature(Celcius) /Day,Maximum Temperature(Celcius) /Day,Daily Precipitation(mm) /Day,Maximum Snowfall(mm) /Day,Wind Direction(Degrees) /Day,Wind Speed(km/h) /Day,Peak Wind Gust(km/h) /Day,Atmospheric Pressure(hPa) /Day,Sunshine Duration(m) /Day
0,UA,2022-01-01,1282,N4901U,IAD,23:10,0:01,70,76,51,...,14.40,13.30,16.70,16.50,0.00,165.00,7.60,NaN,"1,006.70",NaN
1,UA,2023-01-01,604,N814UA,DEN,14:58,14:52,193,177,-6,...,-0.90,-4.90,1.10,1.30,100.00,111.00,10.40,NaN,"1,010.50",NaN
2,UA,2023-01-01,2488,N38458,EWR,23:14,23:15,75,62,1,...,11.30,7.20,14.40,0.00,0.00,241.00,13.00,NaN,"1,012.60",NaN
3,UA,2023-01-01,2645,N23721,ORD,23:57,23:47,107,100,-10,...,4.30,2.80,7.20,4.10,0.00,245.00,6.10,NaN,"1,013.70",NaN
4,UA,2022-01-02,1282,N4901U,IAD,23:10,23:27,70,64,17,...,14.70,5.60,17.80,1.80,0.00,324.00,13.00,NaN,"1,006.60",NaN

In [83]:
def delay_status(x):
    if x < -10:
        return 'Early'
    elif x >= -10 and x <= 10:
        return 'On-Time'
    elif x > 10 and x <= 30:
        return 'Late'
    else:
        return 'Severely Late'

In [84]:
dataset['Day'] = dataset['Date (MM/DD/YYYY)'].dt.day
dataset['Month'] = dataset['Date (MM/DD/YYYY)'].dt.month
dataset['Year'] = dataset['Date (MM/DD/YYYY)'].dt.year
dataset['Scheduled Arrival Hour'] = pd.to_datetime(dataset['Scheduled Arrival Time'], format = '%H:%M').dt.hour
dataset['Scheduled Arrival Minute'] = pd.to_datetime(dataset['Scheduled Arrival Time'], format = '%H:%M').dt.minute
dataset['Status'] = dataset['Arrival Delay (Minutes)'].apply(delay_status)

In [85]:
dataset

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),...,Wind Speed(km/h) /Day,Peak Wind Gust(km/h) /Day,Atmospheric Pressure(hPa) /Day,Sunshine Duration(m) /Day,Day,Month,Year,Scheduled Arrival Hour,Scheduled Arrival Minute,Status
0,UA,2022-01-01,1282,N4901U,IAD,23:10,0:01,70,76,51,...,7.60,NaN,"1,006.70",NaN,1,1,2022,23,10,Severely Late
1,UA,2023-01-01,604,N814UA,DEN,14:58,14:52,193,177,-6,...,10.40,NaN,"1,010.50",NaN,1,1,2023,14,58,On-Time
2,UA,2023-01-01,2488,N38458,EWR,23:14,23:15,75,62,1,...,13.00,NaN,"1,012.60",NaN,1,1,2023,23,14,On-Time
3,UA,2023-01-01,2645,N23721,ORD,23:57,23:47,107,100,-10,...,6.10,NaN,"1,013.70",NaN,1,1,2023,23,57,On-Time
4,UA,2022-01-02,1282,N4901U,IAD,23:10,23:27,70,64,17,...,13.00,NaN,"1,006.60",NaN,2,1,2022,23,10,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2144,UA,2019-12-31,1460,N838UA,EWR,18:15,18:14,75,60,-1,...,16.90,NaN,"1,004.80",NaN,31,12,2019,18,15,On-Time
2145,UA,2021-12-31,467,N872UA,IAD,18:38,18:32,78,68,-6,...,7.90,NaN,"1,012.80",NaN,31,12,2021,18,38,On-Time
2146,UA,2022-12-31,604,N801UA,DEN,14:58,14:46,193,178,-12,...,14.00,NaN,"1,005.00",NaN,31,12,2022,14,58,Early
2147,UA,2022-12-31,1998,N23707,ORD,21:08,20:44,113,98,-24,...,4.30,NaN,"1,013.40",NaN,31,12,2022,21,8,Early
2148,UA,2022-12-31,2488,N37427,EWR,23:14,0:46,75,73,92,...,2.90,NaN,"1,015.10",NaN,31,12,2022,23,14,Severely Late

In [86]:
dataset = dataset.drop(columns = 
             ['Flight Number','Tail Number', 'Carrier Code', 'Scheduled Arrival Time', 'Actual Arrival Time', 
              'Scheduled Elapsed Time (Minutes)', 'Actual Elapsed Time (Minutes)', 'Wheels-on Time', 'Taxi-In time (Minutes)',
             'Delay Carrier (Minutes)', 'Delay Weather (Minutes)', 'Delay Security (Minutes)', 'Delay Security (Minutes)',
             'Delay Late Aircraft Arrival (Minutes)', 'Date UTC /Day', 'Date (MM/DD/YYYY)', 'Sunshine Duration(m) /Day', 
             'Peak Wind Gust(km/h) /Day', 'Delay National Aviation System (Minutes)'], axis = 1)

In [87]:
dataset.isna().sum()

Origin Airport                        0
Arrival Delay (Minutes)               0
Average Temperature(Celcius) /Day     0
Minimum Temperature(Celcius) /Day     0
Maximum Temperature(Celcius) /Day     0
Daily Precipitation(mm) /Day          0
Maximum Snowfall(mm) /Day             0
Wind Direction(Degrees) /Day         62
Wind Speed(km/h) /Day                 0
Atmospheric Pressure(hPa) /Day       34
Day                                   0
Month                                 0
Year                                  0
Scheduled Arrival Hour                0
Scheduled Arrival Minute              0
Status                                0
dtype: int64

In [88]:
# since atmospheric pressure has a min of 991.6 and a max of 1043.8; we can just get the mean to fill in null vals
avg_atm = dataset['Atmospheric Pressure(hPa) /Day'].mean()
dataset['Atmospheric Pressure(hPa) /Day'] = dataset['Atmospheric Pressure(hPa) /Day'].fillna(avg_atm)
dataset = dataset.dropna()

In [89]:
dataset.head()

,Origin Airport,Arrival Delay (Minutes),Average Temperature(Celcius) /Day,Minimum Temperature(Celcius) /Day,Maximum Temperature(Celcius) /Day,Daily Precipitation(mm) /Day,Maximum Snowfall(mm) /Day,Wind Direction(Degrees) /Day,Wind Speed(km/h) /Day,Atmospheric Pressure(hPa) /Day,Day,Month,Year,Scheduled Arrival Hour,Scheduled Arrival Minute,Status
0,IAD,51,14.40,13.30,16.70,16.50,0.00,165.00,7.60,"1,006.70",1,1,2022,23,10,Severely Late
1,DEN,-6,-0.90,-4.90,1.10,1.30,100.00,111.00,10.40,"1,010.50",1,1,2023,14,58,On-Time
2,EWR,1,11.30,7.20,14.40,0.00,0.00,241.00,13.00,"1,012.60",1,1,2023,23,14,On-Time
3,ORD,-10,4.30,2.80,7.20,4.10,0.00,245.00,6.10,"1,013.70",1,1,2023,23,57,On-Time
4,IAD,17,14.70,5.60,17.80,1.80,0.00,324.00,13.00,"1,006.60",2,1,2022,23,10,Late

In [90]:
from sklearn.preprocessing import OneHotEncoder

def get_ohe(df, col):
    ohe = OneHotEncoder(drop='first', handle_unknown='error', sparse=False, dtype='int')
    ohe.fit(df[[col]])
    temp_df = pd.DataFrame(data=ohe.transform(df[[col]]), columns=ohe.get_feature_names_out())
    df.drop(columns=[col], axis=1, inplace=True)
    df = pd.concat([df.reset_index(drop=True), temp_df], axis=1)
    return df

dataset = get_ohe(dataset, 'Origin Airport')

In [91]:
april_12_15 = pd.read_csv('../data_source/train_data/val_data_with_daily_weather_data.csv', parse_dates = ['Date (MM/DD/YYYY)'])

In [92]:
april_12_15.head()

,Date (MM/DD/YYYY),Day,Origin Airport,Flight Number,Arrival Time,"Status (Early, On-time, Late, Severly Late)",Date UTC /Day,Average Temperature(Celcius) /Day,Minimum Temperature(Celcius) /Day,Maximum Temperature(Celcius) /Day,Daily Precipitation(mm) /Day,Maximum Snowfall(mm) /Day,Wind Direction(Degrees) /Day,Wind Speed(km/h) /Day,Peak Wind Gust(km/h) /Day,Atmospheric Pressure(hPa) /Day,Sunshine Duration(m) /Day
0,2023-04-12,Wednesday,ORD,UA 3839,10:00 AM,NaN,2023-04-12,19.60,13.80,25.50,NaN,NaN,222.00,23.40,NaN,"1,013.80",NaN
1,2023-04-12,Wednesday,ORD,UA 3524,4:52 PM,NaN,2023-04-12,19.60,13.80,25.50,NaN,NaN,222.00,23.40,NaN,"1,013.80",NaN
2,2023-04-12,Wednesday,ORD,UA 538,9:34 PM,NaN,2023-04-12,19.60,13.80,25.50,NaN,NaN,222.00,23.40,NaN,"1,013.80",NaN
3,2023-04-13,Thursday,ORD,UA 3839,10:00 AM,NaN,2023-04-13,19.00,12.90,24.70,NaN,NaN,207.00,19.20,NaN,"1,010.80",NaN
4,2023-04-13,Thursday,ORD,UA 3524,4:50 PM,NaN,2023-04-13,19.00,12.90,24.70,NaN,NaN,207.00,19.20,NaN,"1,010.80",NaN

In [93]:
april_12_15['Day'] = april_12_15['Date (MM/DD/YYYY)'].dt.day
april_12_15['Month'] = april_12_15['Date (MM/DD/YYYY)'].dt.month
april_12_15['Year'] = april_12_15['Date (MM/DD/YYYY)'].dt.year
april_12_15['Scheduled Arrival Hour'] = pd.to_datetime(pd.to_datetime(april_12_15['Arrival Time']).dt.strftime('%H:%M')).dt.hour
april_12_15['Scheduled Arrival Minute'] = pd.to_datetime(pd.to_datetime(april_12_15['Arrival Time']).dt.strftime('%H:%M')).dt.minute

In [94]:
april_12_15['Daily Precipitation(mm) /Day'] = 0
april_12_15['Maximum Snowfall(mm) /Day'] = 0
april_12_15['Status'] = april_12_15['Status (Early, On-time, Late, Severly Late)']

In [95]:
april_12_15 = april_12_15.drop(columns = 
             ['Flight Number','Arrival Time', 
               'Date UTC /Day', 'Date (MM/DD/YYYY)', 'Sunshine Duration(m) /Day', 
             'Peak Wind Gust(km/h) /Day', 'Status (Early, On-time, Late, Severly Late)'], axis = 1)

In [96]:
april_12_15 = get_ohe(april_12_15, 'Origin Airport')

In [97]:
april_12_15.head()

,Day,Average Temperature(Celcius) /Day,Minimum Temperature(Celcius) /Day,Maximum Temperature(Celcius) /Day,Daily Precipitation(mm) /Day,Maximum Snowfall(mm) /Day,Wind Direction(Degrees) /Day,Wind Speed(km/h) /Day,Atmospheric Pressure(hPa) /Day,Month,Year,Scheduled Arrival Hour,Scheduled Arrival Minute,Status,Origin Airport_EWR,Origin Airport_IAD,Origin Airport_ORD
0,12,19.60,13.80,25.50,0,0,222.00,23.40,"1,013.80",4,2023,10,0,NaN,0,0,1
1,12,19.60,13.80,25.50,0,0,222.00,23.40,"1,013.80",4,2023,16,52,NaN,0,0,1
2,12,19.60,13.80,25.50,0,0,222.00,23.40,"1,013.80",4,2023,21,34,NaN,0,0,1
3,13,19.00,12.90,24.70,0,0,207.00,19.20,"1,010.80",4,2023,10,0,NaN,0,0,1
4,13,19.00,12.90,24.70,0,0,207.00,19.20,"1,010.80",4,2023,16,50,NaN,0,0,1

In [98]:
dataset.to_csv('preprocessed-training.csv', index = False)

In [100]:
april_12_15.to_csv('preprocessed-12-15-april.csv', index = False)